body {
  overflow: hidden;
}

.signup-container,
.signin-container {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
